$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// .book-content {
//
// }

.form-wrapper {
  margin: 15px;
}

.form-control {
  margin: 5px 0;
}
